In [3]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

{'language': 'en-US',
 'region': 'US',
 'quoteType': 'EQUITY',
 'quoteSourceName': 'Delayed Quote',
 'currency': 'USD',
 'messageBoardId': 'finmb_21835',
 'fullExchangeName': 'NasdaqGS',
 'longName': 'Microsoft Corporation',
 'financialCurrency': 'USD',
 'fiftyTwoWeekLowChange': 41.829994,
 'fiftyTwoWeekLowChangePercent': 0.4451894,
 'earningsTimestampStart': 1571756340,
 'earningsTimestampEnd': 1572278400,
 'trailingAnnualDividendRate': 1.84,
 'trailingPE': 26.835968,
 'postMarketChangePercent': 0.103099935,
 'postMarketTime': 1565654398,
 'priceHint': 2,
 'exchange': 'NMS',
 'bookValue': 13.389,
 'fiftyDayAverage': 137.21324,
 'fiftyDayAverageChange': -1.4232483,
 'fiftyDayAverageChangePercent': -0.010372529,
 'twoHundredDayAverage': 123.846596,
 'twoHundredDayAverageChange': 11.9433975,
 'twoHundredDayAverageChangePercent': 0.09643703,
 'trailingAnnualDividendYield': 0.013361411,
 'priceToBook': 10.141907,
 'sourceInterval': 15,
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'postMarketPrice': 135.93,
 'postMarketChange': 0.13999939,
 'regularMarketChangePercent': -1.394244,
 'regularMarketDayRange': '135.24 - 137.85',
 'regularMarketPreviousClose': 137.71,
 'bid': 135.9,
 'ask': 135.94,
 'bidSize': 12,
 'askSize': 32,
 'shortName': 'Microsoft Corporation',
 'esgPopulated': False,
 'tradeable': True,
 'triggerable': True,
 'marketState': 'POSTPOST',
 'averageDailyVolume3Month': 24529417,
 'averageDailyVolume10Day': 31769266,
 'forwardPE': 22.898819,
 'marketCap': 1036812288000,
 'sharesOutstanding': 7662819840,
 'fiftyTwoWeekRange': '93.96 - 141.68',
 'fiftyTwoWeekHighChange': -5.8899994,
 'fiftyTwoWeekHighChangePercent': -0.041572556,
 'fiftyTwoWeekLow': 93.96,
 'fiftyTwoWeekHigh': 141.68,
 'dividendDate': 1568246400,
 'earningsTimestamp': 1563494400,
 'epsTrailingTwelveMonths': 5.06,
 'epsForward': 5.93,
 'exchangeDataDelayedBy': 0,
 'market': 'us_market',
 'regularMarketPrice': 135.79,
 'regularMarketTime': 1565640001,
 'regularMarketChange': -1.9200134,
 'regularMarketOpen': 137.07,
 'regularMarketDayHigh': 137.85,
 'regularMarketDayLow': 135.24,
 'regularMarketVolume': 20484348,
 'symbol': 'MSFT'}

In [4]:
# get historical market data
hist = msft.history(period="max")

In [5]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
1996-12-09       0.00           2.0
1998-02-23       0.00           2.0
1999-03-29       0.00           2.0
2003-02-18       0.00           2.0
2003-02-19       0.08           0.0
2003-10-15       0.16           0.0
2004-08-23       0.08           0.0
2004-11-15       3.08           0.0
2005-02-15       0.08           0.0
2005-05-16       0.08           0.0
2005-08-15       0.08           0.0
2005-11-15       0.08           0.0
2006-02-15       0.09           0.0
2006-05-15       0.09           0.0
2006-08-15       0.09           0.0
2006-11-14       0.10           0.0
2007-02-13       0.10           0.0
2007-05-15       0.10           0.0
2007-08-14       0.10           0.0
2007-11-13       0.11           0.0
2008-02-19       0.11           0.0
2008-05-13       0.11           0.0
2008-08-19       0.11           0.0
2008-11-18       0.13           0.0
2009-02-17       0.13           0.0
...               ...           ...
2012-02-14       0.20           0.0
2012-05-15       0.20           0.0
2012-08-14       0.20           0.0
2012-11-13       0.23           0.0
2013-02-19       0.23           0.0
2013-05-14       0.23           0.0
2013-08-13       0.23           0.0
2013-11-19       0.28           0.0
2014-02-18       0.28           0.0
2014-05-13       0.28           0.0
2014-08-19       0.28           0.0
2014-11-18       0.31           0.0
2015-02-17       0.31           0.0
2015-05-19       0.31           0.0
2015-08-18       0.31           0.0
2015-11-17       0.36           0.0
2016-02-16       0.36           0.0
2016-05-17       0.36           0.0
2016-08-16       0.36           0.0
2016-11-15       0.39           0.0
2017-02-14       0.39           0.0
2017-05-16       0.39           0.0
2017-08-15       0.39           0.0
2017-11-15       0.42           0.0
2018-02-14       0.42           0.0
2018-05-16       0.42           0.0
2018-08-15       0.42           0.0
2018-11-14       0.46           0.0
2019-02-20       0.46           0.0
2019-05-15       0.46           0.0

[71 rows x 2 columns]

In [6]:
# show dividends
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
2005-05-16    0.08
2005-08-15    0.08
2005-11-15    0.08
2006-02-15    0.09
2006-05-15    0.09
2006-08-15    0.09
2006-11-14    0.10
2007-02-13    0.10
2007-05-15    0.10
2007-08-14    0.10
2007-11-13    0.11
2008-02-19    0.11
2008-05-13    0.11
2008-08-19    0.11
2008-11-18    0.13
2009-02-17    0.13
2009-05-19    0.13
2009-08-18    0.13
2009-11-17    0.13
2010-02-16    0.13
2010-05-18    0.13
2010-08-17    0.13
2010-11-16    0.16
2011-02-15    0.16
2011-05-17    0.16
              ...
2012-02-14    0.20
2012-05-15    0.20
2012-08-14    0.20
2012-11-13    0.23
2013-02-19    0.23
2013-05-14    0.23
2013-08-13    0.23
2013-11-19    0.28
2014-02-18    0.28
2014-05-13    0.28
2014-08-19    0.28
2014-11-18    0.31
2015-02-17    0.31
2015-05-19    0.31
2015-08-18    0.31
2015-11-17    0.36
2016-02-16    0.36
2016-05-17    0.36
2016-08-16    0.36
2016-11-15    0.39
2017-02-14    0.39
2017-05-16    0.39
2017-08-15    0.39
2017-11-15    0.42
2018-02-14    0.42
2018-05-16    0.42
2018-08-15    0.42
2018-11-14    0.46
2019-02-20    0.46
2019-05-15    0.46
Name: Dividends, Length: 62, dtype: float64

In [7]:
# show splits
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [8]:
# show financials
msft.financials

,6/30/2019,6/30/2018,6/30/2017,6/30/2016
,,,,
Total Revenue,125843000,110360000,96571000,91154000
Cost of Revenue,42910000,38353000,34261000,32780000
Gross Profit,82933000,72007000,62310000,58374000
Operating Expenses,-,-,-,-
Research Development,16876000,14726000,13037000,11988000
Selling General and Administrative,23098000,22223000,19942000,19198000
Non Recurring,NaN,NaN,NaN,NaN
Others,NaN,NaN,NaN,NaN
Total Operating Expenses,82884000,75302000,67240000,63966000
Operating Income or Loss,42959000,35058000,29331000,27188000
Income from Continuing Operations,-,-,-,-
Total Other Income/Expenses Net,729000,1416000,570000,-1549000
Earnings Before Interest and Taxes,42959000,35058000,29331000,27188000
Interest Expense,-2686000,-2733000,-2222000,-1243000
Income Before Tax,43688000,36474000,29901000,25639000
Income Tax Expense,4448000,19903000,4412000,5100000
Minority Interest,NaN,NaN,NaN,NaN
Net Income From Continuing Ops,39240000,16571000,25489000,20539000
Non-recurring Events,-,-,-,-
Discontinued Operations,NaN,NaN,NaN,NaN
Extraordinary Items,NaN,NaN,NaN,NaN
Effect Of Accounting Changes,NaN,NaN,NaN,NaN
Other Items,NaN,NaN,NaN,NaN
Net Income,-,-,-,-
Net Income,-,-,-,-
Preferred Stock And Other Adjustments,NaN,NaN,NaN,NaN
Net Income Applicable To Common Shares,39240000,16571000,25489000,20539000

In [9]:
# show balance heet
msft.balance_sheet

,6/30/2019,6/30/2018,6/30/2017,6/30/2016
,,,,
Current Assets,-,-,-,-
Cash And Cash Equivalents,11356000,11946000,7663000,6510000
Short Term Investments,122476000,121718000,125238000,106531000
Net Receivables,29524000,26481000,22431000,18277000
Inventory,2063000,2662000,2181000,2251000
Other Current Assets,10133000,6855000,5183000,6091000
Total Current Assets,175552000,169662000,162696000,139660000
Long Term Investments,2649000,1862000,6023000,10438000
"Property, plant and equipment",43856000,36146000,30289000,18356000
Goodwill,42026000,35683000,35122000,17872000
Intangible Assets,7750000,8053000,10106000,3733000
Accumulated Amortization,NaN,NaN,NaN,NaN
Other Assets,14723000,7442000,6076000,3409000
Deferred Long Term Asset Charges,7536000,1369000,248000,219000
Total Assets,286556000,258848000,250312000,193468000
Current Liabilities,-,-,-,-
Accounts Payable,9382000,8617000,7390000,6898000
Short/Current Long Term Debt,5516000,3998000,1049000,NaN
Other Current Liabilities,45860000,38195000,30879000,33972000
Total Current Liabilities,69420000,58488000,55745000,59357000
Long Term Debt,66662000,72242000,76073000,40557000
Other Liabilities,35699000,35707000,22986000,20796000
Deferred Long Term Liability Charges,NaN,NaN,NaN,NaN
Minority Interest,NaN,NaN,NaN,NaN
Negative Goodwill,NaN,NaN,NaN,NaN
Total Liabilities,184226000,176130000,162601000,121471000
Stockholders' Equity,-,-,-,-
Misc. Stocks Options Warrants,NaN,NaN,NaN,NaN
Redeemable Preferred Stock,NaN,NaN,NaN,NaN
Preferred Stock,NaN,NaN,NaN,NaN
Common Stock,78520000,71223000,69315000,68178000
Retained Earnings,24150000,13682000,17769000,2282000
Treasury Stock,-340000,-2187000,627000,1537000
Capital Surplus,NaN,NaN,NaN,NaN
Other Stockholder Equity,-340000,-2187000,627000,1537000
Total stockholders' equity,102330000,82718000,87711000,71997000
Net Tangible Assets,52554000,38982000,42483000,50392000

In [10]:
# show cashflow
msft.cashflow

,6/30/2019,6/30/2018,6/30/2017,6/30/2016
,,,,
Net Income,39240000,16571000,25489000,20539000
"Operating Activities, Cash Flows Provided By or Used In",-,-,-,-
Depreciation,11600000,9900000,7800000,5878000
Adjustments To Net Income,-2521000,-3054000,1342000,6229000
Changes In Accounts Receivables,-2812000,-3862000,-1216000,562000
Changes In Liabilities,4694000,7070000,3901000,2653000
Changes In Inventories,597000,-465000,50000,600000
Changes In Other Operating Activities,-1542000,-459000,349000,-2907000
Total Cash Flow From Operating Activities,52185000,43884000,39507000,33325000
"Investing Activities, Cash Flows Provided By or Used In",-,-,-,-
Capital Expenditure,-13925000,-11632000,-8129000,-8343000
Investments,540000,6557000,-12511000,-14417000
Other Cash flows from Investing Activities,NaN,-98000,-197000,203000
Total Cash Flows From Investing Activities,-15773000,-6061000,-46781000,-23950000
"Financing Activities, Cash Flows Provided By or Used In",-,-,-,-
Dividends Paid,-13811000,-12699000,-11845000,-11006000
Sale Purchase of Stock,NaN,NaN,NaN,NaN
Net Borrowings,-4000000,-10201000,31459000,18283000
Other Cash Flows from Financing Activities,-675000,-971000,-190000,-369000
Total Cash Flows From Financing Activities,-36887000,-33590000,8408000,-8393000
Effect Of Exchange Rate Changes,-115000,50000,19000,-67000
Change In Cash and Cash Equivalents,-590000,4283000,1153000,915000

In [11]:
# show options expirations
msft.options

# get option chain for specific expiration
#opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

('2019-08-15',
 '2019-08-22',
 '2019-08-29',
 '2019-09-05',
 '2019-09-12',
 '2019-09-19',
 '2019-09-26',
 '2019-10-17',
 '2019-12-19',
 '2020-01-16',
 '2020-03-19',
 '2020-06-18',
 '2020-09-17',
 '2021-01-14',
 '2021-03-18',
 '2021-06-17')

In [ ]:
# get option chain for specific expiration
#opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

In [16]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "SPY",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "max",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1mo",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

data

[*********************100%***********************]  1 of 1 downloaded

              Open    High     Low   Close        Volume
Date
1993-01-01   26.73   26.73   26.59   26.71  1.003200e+06
1993-02-01   26.73   27.43   26.02   26.99  5.417600e+06
1993-03-01   27.09   27.87   26.88   27.47  3.019200e+06
1993-03-19     NaN     NaN     NaN     NaN           NaN
1993-04-01   27.63   27.63   26.43   26.89  2.697200e+06
1993-05-01   26.93   27.88   26.78   27.62  1.808000e+06
1993-06-01   27.71   27.98   27.00   27.52  3.438000e+06
1993-06-18     NaN     NaN     NaN     NaN           NaN
1993-07-01   27.75   27.81   27.16   27.58  6.117600e+06
1993-08-01   27.62   28.64   27.58   28.64  5.440100e+06
1993-09-01   28.54   28.66   27.56   28.25  4.369900e+06
1993-09-17     NaN     NaN     NaN     NaN           NaN
1993-10-01   28.39   29.18   28.29   28.99  6.972900e+06
1993-11-01   28.95   29.09   28.18   28.68  5.351100e+06
1993-12-01   28.84   29.18   28.70   28.84  6.128000e+06
1993-12-17     NaN     NaN     NaN     NaN           NaN
1994-01-01   29.03   30.10   28.92   30.05  6.837100e+06
1994-02-01   30.01   30.08   29.01   29.17  1.097440e+07
1994-03-01   29.17   29.48   27.12   27.79  1.470550e+07
1994-03-18     NaN     NaN     NaN     NaN           NaN
1994-04-01   27.16   28.43   27.16   28.26  1.142900e+07
1994-05-01   28.26   28.79   27.68   28.71  8.545100e+06
1994-06-01   28.64   29.18   27.57   27.87  1.035270e+07
1994-06-17     NaN     NaN     NaN     NaN           NaN
1994-07-01   28.19   29.05   27.99   28.96  5.452100e+06
1994-08-01   28.98   30.27   28.80   30.06  7.945800e+06
1994-09-01   29.96   30.10   28.85   29.13  6.309300e+06
1994-09-16     NaN     NaN     NaN     NaN           NaN
1994-09-19     NaN     NaN     NaN     NaN           NaN
1994-10-01   29.32   30.28   28.56   30.14  5.437600e+06
...            ...     ...     ...     ...           ...
2017-11-01  249.62  257.37  247.29  256.37  1.365621e+09
2017-12-01  256.12  259.84  252.25  258.16  1.715223e+09
2017-12-15     NaN     NaN     NaN     NaN           NaN
2018-01-01  260.43  278.70  260.00  274.10  1.985507e+09
2018-02-01  273.29  275.23  245.92  264.13  2.923722e+09
2018-03-01  263.90  272.65  250.69  255.87  2.323562e+09
2018-03-16     NaN     NaN     NaN     NaN           NaN
2018-04-01  256.31  264.85  248.61  258.22  1.998466e+09
2018-05-01  257.60  267.73  252.89  264.50  1.606397e+09
2018-06-01  265.93  272.83  262.11  264.83  1.599001e+09
2018-06-15     NaN     NaN     NaN     NaN           NaN
2018-07-01  264.28  278.85  264.02  275.87  1.266892e+09
2018-08-01  276.10  286.08  273.75  284.68  1.308444e+09
2018-09-01  284.22  288.24  281.15  285.08  1.228103e+09
2018-09-21     NaN     NaN     NaN     NaN           NaN
2018-10-01  287.74  288.82  255.96  266.58  3.024346e+09
2018-11-01  267.54  277.01  259.14  271.53  2.021061e+09
2018-12-01  276.09  276.21  230.26  246.18  3.102780e+09
2018-12-21     NaN     NaN     NaN     NaN           NaN
2019-01-01  243.72  267.98  241.43  267.45  2.048692e+09
2019-02-01  267.66  278.72  265.36  276.11  1.371716e+09
2019-03-01  277.86  282.56  269.91  279.88  1.678081e+09
2019-03-15     NaN     NaN     NaN     NaN           NaN
2019-04-01  283.32  293.02  283.02  292.60  1.209205e+09
2019-05-01  293.29  293.52  273.91  273.94  1.845593e+09
2019-06-01  273.98  294.88  271.77  291.58  1.340436e+09
2019-06-21     NaN     NaN     NaN     NaN           NaN
2019-07-01  296.68  302.23  294.33  297.43  1.110504e+09
2019-08-01  297.60  300.87  281.72  291.62  8.770909e+08
2019-08-12  289.96  291.61  287.02  288.07  6.552763e+07

[431 rows x 5 columns]